In [0]:
%%sh
PGPASSWORD='$mfbKd^&#D&6w6jX' psql -h b2b-prod-uds-storage-meta-db-new.crlexxwtzodp.us-east-1.rds.amazonaws.com -p 5432 -Udatapipeline_uds_writer -d metadb << EOF
-- SELECT vendor,data_mart,table_name,version,is_active, cluster from meta where cluster='prod-citus-cluster-4' and is_active=true order by table_name;
select table_name, app_stats from meta where data_mart='store' and is_active=true order by table_name;
-- UPDATE meta SET app_stats='{"latest_available_date": "2019-12-31"}' WHERE table_name='store_est_t_y_fact' and  data_mart='store' and is_active=true;

EOF

In [0]:
%%sh
PGPASSWORD='PZQYyjRHCXZ23LVQ' psql -h 10.2.6.141 -p 5432 -Ucitus_bdp_prod_int_datapipeline -d aa_store_db << EOF
set search_path=dna, store;
\timing
SELECT
tag_id,
tag_type_code,
sum(est_revenue__sum) as est_revenue__sum,
sum(est_download__sum) as est_download__sum
FROM
(
    SELECT
        app_id::BIGINT as product_id,
        sum(est_revenue) as est_revenue__sum,
        sum(COALESCE(est_free_app_download, 0) + COALESCE(est_paid_app_download, 0)) 
        filter(WHERE est_free_app_download >= 0 or est_paid_app_download >= 0)::BIGINT as est_download__sum
    FROM
        store_est_fact_v1
    WHERE
        date in ('2018-01-27', '2018-01-28', '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01', '2018-02-02', '2018-02-03', '2018-02-04', '2018-02-05', '2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09', '2018-02-10', '2018-02-11', '2018-02-12', '2018-02-13', '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-17', '2018-02-18', '2018-02-19', '2018-02-20', '2018-02-21', '2018-02-22', '2018-02-23', '2018-02-24', '2018-02-25', '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01', '2018-03-02', '2018-03-03', '2018-03-04', '2018-03-05', '2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09', '2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13', '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-17', '2018-03-18', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22', '2018-03-23', '2018-03-24', '2018-03-25', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29', '2018-03-30', '2018-03-31', '2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16', '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28', '2018-04-29', '2018-04-30', '2018-05-01', '2018-05-02', '2018-05-03', '2018-05-04', '2018-05-05', '2018-05-06', '2018-05-07', '2018-05-08', '2018-05-09', '2018-05-10', '2018-05-11', '2018-05-12', '2018-05-13', '2018-05-14', '2018-05-15', '2018-05-16', '2018-05-17', '2018-05-18', '2018-05-19', '2018-05-20', '2018-05-21', '2018-05-22', '2018-05-23', '2018-05-24', '2018-05-25', '2018-05-26', '2018-05-27', '2018-05-28', '2018-05-29', '2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02', '2018-06-03', '2018-06-04', '2018-06-05', '2018-06-06', '2018-06-07', '2018-06-08', '2018-06-09', '2018-06-10', '2018-06-11', '2018-06-12', '2018-06-13', '2018-06-14', '2018-06-15', '2018-06-16', '2018-06-17', '2018-06-18', '2018-06-19', '2018-06-20', '2018-06-21', '2018-06-22', '2018-06-23', '2018-06-24', '2018-06-25', '2018-06-26', '2018-06-27', '2018-06-28', '2018-06-29', '2018-06-30', '2018-07-01', '2018-07-02', '2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06', '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11', '2018-07-12', '2018-07-13', '2018-07-14', '2018-07-15', '2018-07-16', '2018-07-17', '2018-07-18', '2018-07-19', '2018-07-20', '2018-07-21', '2018-07-22', '2018-07-23', '2018-07-24', '2018-07-25', '2018-07-26', '2018-07-27', '2018-07-28', '2018-07-29', '2018-07-30', '2018-07-31', '2018-08-01', '2018-08-02', '2018-08-03', '2018-08-04', '2018-08-05', '2018-08-06', '2018-08-07', '2018-08-08', '2018-08-09', '2018-08-10', '2018-08-11', '2018-08-12', '2018-08-13', '2018-08-14', '2018-08-15', '2018-08-16', '2018-08-17', '2018-08-18', '2018-08-19', '2018-08-20', '2018-08-21', '2018-08-22', '2018-08-23', '2018-08-24', '2018-08-25', '2018-08-26', '2018-08-27', '2018-08-28', '2018-08-29', '2018-08-30', '2018-08-31', '2018-09-01', '2018-09-02', '2018-09-03', '2018-09-04', '2018-09-05', '2018-09-06', '2018-09-07', '2018-09-08', '2018-09-09', '2018-09-10', '2018-09-11', '2018-09-12', '2018-09-13', '2018-09-14', '2018-09-15', '2018-09-16', '2018-09-17', '2018-09-18', '2018-09-19', '2018-09-20', '2018-09-21', '2018-09-22', '2018-09-23', '2018-09-24', '2018-09-25', '2018-09-26', '2018-09-27', '2018-09-28', '2018-09-29', '2018-09-30', '2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04', '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08', '2018-10-09', '2018-10-10', '2018-10-11', '2018-10-12', '2018-10-13', '2018-10-14', '2018-10-15', '2018-10-16', '2018-10-17', '2018-10-18', '2018-10-19', '2018-10-20', '2018-10-21', '2018-10-22', '2018-10-23', '2018-10-24', '2018-10-25', '2018-10-26', '2018-10-27', '2018-10-28', '2018-10-29', '2018-10-30', '2018-10-31', '2018-11-01', '2018-11-02', '2018-11-03', '2018-11-04', '2018-11-05', '2018-11-06', '2018-11-07', '2018-11-08', '2018-11-09', '2018-11-10', '2018-11-11', '2018-11-12', '2018-11-13', '2018-11-14', '2018-11-15', '2018-11-16', '2018-11-17', '2018-11-18', '2018-11-19', '2018-11-20', '2018-11-21', '2018-11-22', '2018-11-23', '2018-11-24', '2018-11-25', '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29', '2018-11-30', '2018-12-01', '2018-12-02', '2018-12-03', '2018-12-04', '2018-12-05', '2018-12-06', '2018-12-07', '2018-12-08', '2018-12-09', '2018-12-10', '2018-12-11', '2018-12-12', '2018-12-13', '2018-12-14', '2018-12-15', '2018-12-16', '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20', '2018-12-21', '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31', '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12', '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20', '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-26', '2019-01-27')
        AND device_code in ('android-all','ios-tablet','ios-phone')
        AND granularity = 'daily'
        AND country_code in ('MS','PL','FI','ST','SA','PK','VG','MW','SV','SI','PG','OM','AI','LR','ZA','BH','MT','NO','BG','HK','BW','CV','LV','NP','MU','KG','CZ','NL','SR','KW','SK','UA','TZ','AG','ML','MG','BJ','IS','NI','PY','BZ','AL','TR','PR','TM','VE','BR','UZ','AR','BY')
    GROUP BY app_id
) app_data_table
INNER JOIN
(
(
SELECT
        app_id, tag_id, tag_type_code
FROM 
        dna_app_tag_dim_v1
WHERE
        tag_type_code = 'custom'
        AND tag_id in (20001512,20000233,20000685,20001984,20001514,20001068,20000483,20000950,20001951,20000585,20000336,20001282,20001733,20001242,20001720,20001442,20001830,20000573,20001718,20000133,20001451,20001843,20001424,20000402,20000675,20000539,20001819,20000066,20000117,20000151)
)
UNION
(
SELECT
    app_id, tag_id, tag_type_code
FROM 
    dna_app_tag_dim_v1
WHERE
    tag_type_code = 'genre'
)
)  AS tag_table
ON app_data_table.product_id = tag_table.app_id
GROUP BY tag_id, tag_type_code;

SELECT tag_id
     , tag_type_code
     , sum(est_revenue__sum) AS est_revenue__sum
     , sum(est_download__sum) AS est_download__sum
FROM (SELECT app_id::bigint AS product_id
           , sum(est_revenue) AS est_revenue__sum
           , sum((COALESCE(est_free_app_download, 0) + COALESCE(est_paid_app_download, 0))) FILTER (WHERE((   (est_free_app_download >= 0)
                                                                                                           OR (est_paid_app_download >= 0))))::bigint AS est_download__sum
      FROM ((SELECT app_id, country_code, device_code, date, granularity, est_free_app_download, est_paid_app_download, est_revenue, est_organic_download, est_paid_download
FROM store_est_fact_v1
WHERE date IN ('2018-01-27', '2018-01-28', '2018-01-29', '2018-01-30', '2018-01-31', '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05', '2019-01-27')
  AND device_code IN ('android-all', 'ios-tablet', 'ios-phone')
  AND granularity = 'daily'
  AND country_code IN ('MS', 'PL', 'FI', 'ST', 'SA', 'PK', 'VG', 'MW', 'SV', 'SI', 'PG', 'OM', 'AI', 'LR', 'ZA', 'BH', 'MT', 'NO', 'BG', 'HK', 'BW', 'CV', 'LV', 'NP', 'MU', 'KG', 'CZ', 'NL', 'SR', 'KW', 'SK', 'UA', 'TZ', 'AG', 'ML', 'MG', 'BJ', 'IS', 'NI', 'PY', 'BZ', 'AL', 'TR', 'PR', 'TM', 'VE', 'BR', 'UZ', 'AR', 'BY')) union all(SELECT app_id, country_code, device_code, date, granularity, est_free_app_download, est_paid_app_download, est_revenue, est_organic_download, est_paid_download
FROM store_est_t_m_fact_v1
WHERE date IN ('2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31')
  AND device_code IN ('android-all', 'ios-tablet', 'ios-phone')
  AND granularity = 'monthly'
  AND country_code IN ('MS', 'PL', 'FI', 'ST', 'SA', 'PK', 'VG', 'MW', 'SV', 'SI', 'PG', 'OM', 'AI', 'LR', 'ZA', 'BH', 'MT', 'NO', 'BG', 'HK', 'BW', 'CV', 'LV', 'NP', 'MU', 'KG', 'CZ', 'NL', 'SR', 'KW', 'SK', 'UA', 'TZ', 'AG', 'ML', 'MG', 'BJ', 'IS', 'NI', 'PY', 'BZ', 'AL', 'TR', 'PR', 'TM', 'VE', 'BR', 'UZ', 'AR', 'BY')) union all(SELECT app_id, country_code, device_code, date, granularity, est_free_app_download, est_paid_app_download, est_revenue, est_organic_download, est_paid_download
FROM store_est_t_w_fact_v1
WHERE date IN ('2019-01-12', '2019-01-19', '2019-01-26')
  AND device_code IN ('android-all', 'ios-tablet', 'ios-phone')
  AND granularity = 'weekly'
  AND country_code IN ('MS', 'PL', 'FI', 'ST', 'SA', 'PK', 'VG', 'MW', 'SV', 'SI', 'PG', 'OM', 'AI', 'LR', 'ZA', 'BH', 'MT', 'NO', 'BG', 'HK', 'BW', 'CV', 'LV', 'NP', 'MU', 'KG', 'CZ', 'NL', 'SR', 'KW', 'SK', 'UA', 'TZ', 'AG', 'ML', 'MG', 'BJ', 'IS', 'NI', 'PY', 'BZ', 'AL', 'TR', 'PR', 'TM', 'VE', 'BR', 'UZ', 'AR', 'BY'))) AS store_est_fact_v1
      WHERE 1=1
      GROUP BY app_id) AS app_data_table
     INNER JOIN (SELECT app_id
                      , tag_id
                      , tag_type_code
                 FROM dna_app_tag_dim_v1
                 WHERE (tag_type_code = 'custom')
                   AND tag_id IN (20001512, 20000233, 20000685, 20001984, 20001514, 20001068, 20000483, 20000950, 20001951, 20000585, 20000336, 20001282, 20001733, 20001242, 20001720, 20001442, 20001830, 20000573, 20001718, 20000133, 20001451, 20001843, 20001424, 20000402, 20000675, 20000539, 20001819, 20000066, 20000117, 20000151)

                 UNION

                 SELECT app_id
                      , tag_id
                      , tag_type_code
                 FROM dna_app_tag_dim_v1
                 WHERE tag_type_code = 'genre') AS tag_table ON app_data_table.product_id = tag_table.app_id
GROUP BY tag_id, tag_type_code

EOF

In [0]:
%python
import os
os.environ['B2B_PROD_UDS_STORAGE_META_DB_HOST'] = 'b2b-prod-uds-storage-meta-db-new.crlexxwtzodp.us-east-1.rds.amazonaws.com'
os.environ['B2B_PROD_UDS_STORAGE_META_DB_PORT'] = '5432'
os.environ['B2B_PROD_UDS_STORAGE_META_DB_DATABASE'] = 'metadb'
os.environ['B2B_PROD_UDS_STORAGE_META_DB_USER'] = 'datapipeline_uds_writer'
os.environ['B2B_PROD_UDS_STORAGE_META_DB_PASSWORD'] = '$mfbKd^&#D&6w6jX'

os.environ['PROD_CITUS_CLUSTER_4_HOST'] ='10.2.6.141'
os.environ['PROD_CITUS_CLUSTER_4_PORT'] = '5432'
os.environ['PROD_CITUS_CLUSTER_4_USER'] = 'citus_bdp_prod_int_datapipeline'
os.environ['PROD_CITUS_CLUSTER_4_PASSWORD'] = 'PZQYyjRHCXZ23LVQ'
os.environ['PROD_CITUS_CLUSTER_4_DATABASE'] = 'aa_store_db'

sql = """SELECT
    publisher_id,product_id,SUM(est_data.est) AS rank_est
FROM
    (
SELECT
    app_id::BIGINT AS product_id,date::DATE AS date,SUM(COALESCE(est_free_app_download, 0) + COALESCE(est_paid_app_download, 0))  FILTER(WHERE est_free_app_download >= 0 OR est_paid_app_download >= 0)::BIGINT AS est
FROM
    store_est_fact

        WHERE
            date BETWEEN %(start_date)s and %(end_date)s
            AND device_code in %(device_codes)s
            AND country_code in %(country_codes)s
            AND granularity = 'daily'

GROUP BY product_id,date::DATE

) est_data
                INNER JOIN (
SELECT
    app_id::BIGINT AS filter_product_id,SUM(COALESCE(est_free_app_download, 0) + COALESCE(est_paid_app_download, 0))  FILTER(WHERE est_free_app_download >= 0 OR est_paid_app_download >= 0)::BIGINT AS est
FROM
    store_est_category_fact

        WHERE
            date BETWEEN %(start_date)s and %(end_date)s
            AND device_code in %(device_codes)s
            AND country_code in %(country_codes)s
            AND granularity = 'daily'
            AND category_id in %(category_ids)s
         AND (est_free_app_download >= 0 or est_paid_app_download >= 0)
GROUP BY app_id

) category_apps_table
                ON est_data.product_id = category_apps_table.filter_product_id

                INNER JOIN (
SELECT
    app_id AS company_app_id, publisher_id AS publisher_id, MIN(COALESCE(start_date, %(start_date)s)) AS start_date, MAX(COALESCE(end_date, %(end_date)s)) AS end_date
FROM
    dna_mapping_log_4app_dim
WHERE (publisher_id IN (1362220666,281956209))
 GROUP BY app_id,publisher_id, company_id, parent_company_id

) company_table
                ON est_data.product_id = company_table.company_app_id
                AND est_data.date between company_table.start_date and company_table.end_date


GROUP BY publisher_id,product_id

 ORDER BY rank_est desc nulls last ,publisher_id desc"""
    
params = {'full_start_date': '2020-01-01', 'full_end_date': '2020-01-03', 'start_date': '2020-01-01', 'end_date': '2020-01-03', 'app_ids': (), 'country_codes': ('US',), 'device_codes': ('ios-phone',), 'category_ids': (100001,)}


sql = """SELECT\n    country_code::VARCHAR AS country_code,SUM(COALESCE(est_free_app_download, 0) + COALESCE(est_paid_app_download, 0)) FILTER(WHERE est_free_app_download >= 0 OR est_paid_app_download >= 0)::BIGINT AS est_download__sum\nFROM\n    store_est_fact\n\n        WHERE\n            date BETWEEN %(start_date)s and %(end_date)s\n            AND device_code in %(device_codes)s\n            AND country_code in %(country_codes)s\n            AND granularity = 'daily'\n        \nGROUP BY country_code\n\n ORDER BY est_download__sum desc nulls last"""
params = {'full_start_date': '2019-12-01', 'full_end_date': '2020-05-31', 'start_date': '2019-12-01', 'end_date': '2020-05-31', 'app_ids': (), 'country_codes': ('AE', 'AG', 'AI', 'AL', 'AM', 'AO', 'AR', 'AT', 'AU', 'AZ', 'BB', 'BE', 'BF', 'BG', 'BH', 'BJ', 'BM', 'BN', 'BO', 'BR', 'BS', 'BT', 'BW', 'BY', 'BZ', 'CA', 'CG', 'CH', 'CL', 'CN', 'CO', 'CR', 'CV', 'CY', 'CZ', 'DE', 'DK', 'DM', 'DO', 'DZ', 'EE', 'EG', 'ES', 'FI', 'FJ', 'FM', 'FR', 'GB', 'GD', 'GH', 'GM', 'GR', 'GT', 'GW', 'GY', 'HK', 'HN', 'HR', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KN', 'KR', 'KW', 'KY', 'KZ', 'LA', 'LB', 'LC', 'LK', 'LR', 'LT', 'LU', 'LV', 'MD', 'MG', 'MK', 'ML', 'MN', 'MO', 'MR', 'MS', 'MT', 'MU', 'MW', 'MX', 'MY', 'MZ', 'NA', 'NE', 'NG', 'NI', 'NL', 'NO', 'NP', 'NZ', 'OM', 'PA', 'PE', 'PG', 'PH', 'PK', 'PL', 'PR', 'PT', 'PW', 'PY', 'RO', 'RU', 'SA', 'SB', 'SC', 'SE', 'SG', 'SI', 'SK', 'SL', 'SN', 'SR', 'ST', 'SV', 'SZ', 'TC', 'TD', 'TH', 'TJ', 'TM', 'TN', 'TR', 'TT', 'TW', 'TZ', 'UA', 'UG', 'US', 'UY', 'UZ', 'VC', 'VE', 'VG', 'VN', 'WW', 'YE', 'ZA', 'ZW'), 'device_codes': ('ios-phone', 'android-all', 'ios-tablet'), 'category_ids': ()}

from aaudsreader import read

from aaudsreader.sqlparser import sql_rewrite, _date_between_replace

#_date_between_replace(sql)

print(sql_rewrite(sql, params, [read.meta('store_est_fact'), read.meta('store_est_category_fact'), read.meta('dna_mapping_log_4app_dim')])[0])

#%timeit read.data((sql, params))

In [0]:
%python
def _is_group_by_date(node):
    from pglast.node import Node
    if node.groupClause:
        for subnode in node.groupClause.traverse():
            if isinstance(subnode, Node) and subnode.node_tag == 'ColumnRef' and \
                    subnode.fields[-1].string_value == 'date':
                return True
    return False
import aaudsreader.sqlrewriter
aaudsreader.sqlrewriter._is_group_by_date = _is_group_by_date

In [0]:

log_df = spark.read.parquet("s3://b2c-prod-data-pipeline-unified-dna/unified/dna.mapping-log.v1/dimension/update_date=2020-07-09/").cache()
log_df.show()
log_df.createOrReplaceTempView("log_df")

In [0]:

event_df = spark.read.parquet("s3://b2c-prod-data-pipeline-unified-dna/unified/dna.app-publisher-event.v1/dimension/update_date=2020-07-09/").cache()
event_df.show()
event_df.createOrReplaceTempView("event_df")

In [0]:

event_df = spark.read.parquet("s3://b2c-prod-data-pipeline-unified-dna/unified/dna.company-parent-company-mapping.v1/dimension/update_date=2020-07-09/").cache()
event_df.show()
event_df.createOrReplaceTempView("company_df")

In [0]:

spark.sql("""
SELECT app_id, publisher_id FROM 
(
    SELECT event_df.app_id, first(event_df.old_value) as publisher_id, count(1) as event_count
    FROM event_df
    JOIN(
        SELECT app_id, min(date) AS min_date from event_df group by app_id
    ) as first_event
    ON first_event.app_id = event_df.app_id AND first_event.min_date = event_df.date
    group by event_df.app_id
)
WHERE event_count = 1

EXCEPT

SELECT app_id, publisher_id FROM log_df WHERE start_date='1970-01-01' 
""").show()

In [0]:

spark.sql("""
SELECT app_id, publisher_id FROM 
(
    SELECT event_df.app_id, first(event_df.new_value) as publisher_id, count(1) as event_count
    FROM event_df
    JOIN(
        SELECT app_id, max(date) AS max_date from event_df group by app_id
    ) as last_event
    ON last_event.app_id = event_df.app_id AND last_event.max_date = event_df.date
    group by event_df.app_id
)
WHERE event_count = 1

EXCEPT

SELECT app_id, publisher_id FROM log_df WHERE end_date is null
""").show()

In [0]:

spark.sql("""
SELECT app_id, event_date, new_value
FROM (
    SELECT app_id, event_date, first(new_value) as new_value, count(1) as event_count
    FROM (
        SELECT app_id, date_format(date, 'yyyy-MM-dd') as event_date, new_value
        FROM event_df 
        WHERE old_value != new_value
    )
    group by app_id, event_date
)
WHERE event_count = 1

EXCEPT

SELECT app_id, start_date, publisher_id FROM log_df
""").show()

In [0]:

spark.sql("""
SELECT app_id, event_date, old_value
FROM (
    SELECT app_id, event_date, first(old_value) as old_value, count(1) as event_count
    FROM (
        SELECT app_id, date_sub(date_format(date, 'yyyy-MM-dd'), 1) as event_date, old_value
        FROM event_df 
        WHERE old_value != new_value
    )
    group by app_id, event_date
)
WHERE event_count = 1

EXCEPT

SELECT app_id, end_date, publisher_id FROM log_df
""").show()

In [0]:

spark.sql("""
SELECT company_id, parent_company_id, start_date
FROM (
    SELECT company_df.company_id, company_df.parent_company_id, company_df.start_date
    FROM company_df
    JOIN
    (
        SELECT company_id, count(1) as company_parent_count FROM company_df GROUP BY company_id
    ) single_pc
    on company_df.company_id = single_pc.company_id
    WHERE single_pc.company_parent_count>1
)
WHERE company_id in (
    SELECT DISTINCT company_id FROM log_df
)

EXCEPT

SELECT company_id, parent_company_id, start_date FROM log_df

order by company_id
""").show()

In [0]:

# +----------------+-----------------+----------+
# |      company_id|parent_company_id|  end_date|
# +----------------+-----------------+----------+
# |1000200000016665| 1000200000000033|      null|
# |1000200000016665| 1000200000020314|2019-03-19|
# |1000200000020877| 1000200000021272|      null|
# |1000200000039185| 1000200000019046|      null|
# |1000200000067940| 1000200000018080|      null|
# |1000200000102683| 1000200000003207|      null|
# |1000200000102683| 1000200000016658|2018-12-02|

spark.sql("select * from log_df where company_id = 1000200000102683 order by start_date desc").show()
spark.sql("select * from company_df where company_id = 1000200000102683 order by start_date desc").show()

In [0]:
%%sh


PGPASSWORD='2mHdFW6%#REu' psql -h 10.2.25.198  -U app_bdp_usage_qa -d dna -p 6432 << EOF 
set search_path=public;

-- universal_id : company id
-- parent_id : parent id
-- select * from dna_universal_company_parent where universal_id = 1000200000003635 limit 5
-- select * from dna_universal_company_parent where universal_id  = 1000200000000088 limit 5;
-- select * from ( select universal_id, count(universal_id) from dna_universal_company_parent where start_date is not null and end_date is not null group by universal_id ) as prod limit 5

-- select * from dna_universal_company_parent where start_date < '2012-01-01' limit 10;


-- universal_id : company id
-- company id : publisher id
-- select * from dna_universal_company_mapping where company_id=542280115   limit 2;

-- select * from dna_universal_company_parent where universal_id=1000200000000122   limit 2;
select * from dna_universal_company_parent where universal_id = 1000200000102683 limit 3

EOF

In [0]:

spark.sql("""
SELECT company_id, parent_company_id, end_date
FROM (
    SELECT company_df.company_id, company_df.parent_company_id, company_df.end_date
    FROM company_df
    JOIN
    (
        SELECT company_id, count(1) as company_parent_count FROM company_df GROUP BY company_id
    ) single_pc
    on company_df.company_id = single_pc.company_id
    WHERE single_pc.company_parent_count>1
)
WHERE company_id in (
    SELECT DISTINCT company_id FROM log_df
)

EXCEPT

SELECT company_id, parent_company_id, end_date FROM log_df

order by company_id
""").show()

In [0]:

# spark.sql("""
# SELECT app_id, date, old_value, new_value FROM event_df WHERE app_id = 20600008543014 order by date
# """).show()

# spark.sql("""
# SELECT app_id, start_date, end_date, publisher_id FROM log_df WHERE app_id = 20600008543014
# """).show()

spark.sql("""
SELECT start_date, end_date, company_id, parent_company_id FROM company_df WHERE company_id = 1000200000016665 order by start_date
""").show()

spark.sql("""
SELECT app_id, start_date, end_date, publisher_id, company_id, parent_company_id FROM log_df WHERE company_id = 1000200000016665
""").show()

In [0]:
%%sh
# aws s3 ls s3://b2c-prod-data-pipeline-unified-dna/unified/dna.app-publisher-event.v1/dimension/update_date=2020-06-30/
# aws s3 ls s3://b2c-prod-data-pipeline-unified-dna/unified/dna.mapping-log.v1/dimension/update_date=2020-06-30/
aws s3 ls s3://b2c-prod-data-pipeline-unified-dna/unified/dna.company-parent-company-mapping.v1/dimension/update_date=2020-06-30/